<!DOCTYPE html>
<html>
  <head>
    <title>My hands</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form action="/new" method="post">
      <h1>Enter Name And Message</h1>
      <input type="text" placeholder="Name" name="name">
      <input type="text" placeholder="Message" max="300" name="message">
      <button type="submit">Submit</button>
    </form>

  <%for(let i=0;i<messages.length;i++){%>
    <div class="card">
      <h1><%= messages[i].user%></h1>
      <h1><%= messages[i].text%></h1>
      <h1><%= messages[i].added%></h1>
    </div>
  <% }%>

  
  </body>
</html>
